/* Styling for the cart page */
.whiteBackSections {
  background-color: #FFFFFF;
}

#cartProductInnerDiv {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--9B9B9B);
}

.cartRemove {
  position: absolute;
  right: 0;
}

.cartProductMain {
  display: flex;
  position: relative;
}

.cartDetailsSection {
  display: flex;
  flex-direction: column;
}

.cartProductName {
  text-transform: capitalize;
}

.cartDefaultText {
  font-family: var(--Yantramanav);
}

#totalPriceDiv {
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  font-family: var(--Yantramanav);
}

#cartButtonsDiv {
  display: flex;
  flex-direction: column;
}

#checkoutButton {
  background: transparent;
  border: 1px solid var(--222222);
  color: var(--222222);
}





@media all and (max-width: 767px) {
  #cartHeader {
    padding: 0.85rem 0.85rem 2rem 0.85rem;
  }
  
  #cartHead {
    margin-left: 1.5rem;
  }
  
  #cartProductDiv {
    margin-top: 6rem;
    padding: 0 1.5rem 3.5rem 1.5rem;
  }
  
  #cartProductInnerDiv {
    gap: 1.5rem 0;
    padding-bottom: 1.5rem;
  }

  .cartRemove {
    font-size: 1rem;
  }

  .cartProductMain {
    gap: 0 1.5rem;
  }

  .cartProductImage {
    height: 5rem;
  }

  .cartDetailsSection {
    gap: 0.25rem;
  }

  .cartProductName {
    font-size: var(--16px);
  }

  .cartProductText {
    font-size: var(--12px);
  }
  
  .cartDefaultText {
    font-size: var(--12px);
  }

  #totalPriceDiv {
    margin: 1.5rem 0;
  }

  .totalPrice {
    font-size: var(--12px);
  }

  #cartButtonsDiv {
    gap: 0.75rem 0;
  }
}





@media all and (min-width: 768px) and (max-width: 1023px) {

}





@media all and (min-width: 1024px) {

}