@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Nanum+Myeongjo&display=swap');

#frontPage {
    background: url("../pages/extensions/products/productImages/design_six.jpeg") no-repeat;
    background-position: center;
    background-size: cover;
}

#header {
    border-bottom: var(--border_size) solid #F3F2ED;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: auto;
    z-index: 100;
}

#header.scrollTop {
    bottom: 100%;
    top: auto;
}

#curLangHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

#curInnerDiv {
    display: flex;
    align-items: center;
    position: relative;
}

.curLangMain {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
}

.curLangText {
    font-family: var(--Yantramanav);
}

#displayCurrency {
    background-color: white;
    position: absolute;
    top: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    margin-top: -0.00025rem;
    cursor: pointer;
    white-space: nowrap;
}

#curText {
    color: var(--222222);
    font-family: var(--Yantramanav);
    word-break: keep-all;
}

#headerNav {
    position: relative;
}

#sideMenuAside {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
    display: block;
}

#sidemenuList {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.sidemenuLink {
    color: black;
    text-decoration: none;
}

.sideMenuItem {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease-in-out;
    padding-bottom: 0.75rem;
}

.sideMenuText {
    text-transform: uppercase;
    font-family: var(--Yantramanav);
}

.sideMenuIcon {
    color: white;
    background-color: black;
    border-radius: 0.25rem;
}

#logoIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

#logoIcon.scrollDownNavbar {
    background-color: white;
    color: black;
}

#logo {
    font-family: "Bona Nova", serif;
    font-weight: 600;
    font-style: normal;
}

#navIcons {
    display: flex;
    align-items: center;
}

.icons {
    list-style: none;
    cursor: pointer;
}

#displayText {
    width: 80%;
    position: relative;
    margin: 0 auto auto auto;
    left: 0;
    right: 0;
    text-align: center;
}

#disParagraph {
    color: white;
}

.paragraphStyles {
    font-family: var(--Yantramanav);
}

#disHead {
    font-family: var(--Cormorant);
    font-weight: var(--500);
    color: white;
}

#shopBtn {
    font-family: var(--Yantramanav);
    background-color: #FFFFFF;
    color: #010101;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

#disDiv {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
}

.disShowing {
    border-bottom: var(--border_size) solid white;
    font-family: var(--Yantramanav);
    color: white;
}

#productSection {
    text-align: center;
}

#productParagraph {
    color: var(--282828);
}

#productHead {
    color: var(--1B1A1A);
    font-family: var(--Cormorant);
    font-weight: var(--500);
}

.orderOptions {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.availDiv {
    width: fit-content;
    position: absolute;
    display: flex;
    margin: 0.75rem 0 0 0.75rem;
}

.productAvail {
    color: white;
}

.optionBtnsDiv {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    width: 100%;
}

.optionIcon {
    color: var(--222222);
    cursor: pointer;
}

.optionDivWishlist {
    position: relative;
}

.wishlistOptionText {
    position: absolute;
    left: 100%;
    white-space: nowrap;
    background-color: var(--222222);
    color: white;
    font-family: var(--Yantramanav);
    z-index: 100;
    border-radius: 0.5rem;
}

.wishlistOptionText::before {
    content: '';
    position: absolute;
    border: 5px solid;
    border-color: transparent var(--222222) transparent transparent;
}

.selectOption {
    color: var(--222222);
    cursor: pointer;
}

.optionDiv:first-child {
    border-right: 2px solid #F3F2ED;
}

.optionDiv:last-child {
    border-left: 2px solid #F3F2ED;
}

.productName {
    text-transform: capitalize;
    font-family: var(--Yantramanav);
    color: var(--1B1A1A);
}

.priceDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.originalPrice {
    text-decoration: line-through;
    color: var(--9B9B9B);
}

.productPrice {
    white-space: pre;
    font-family: var(--Yantramanav);
}

.productList {
    display: flex;
    align-items: center;
    gap: 0 0.35rem;
}

.productListItem {
    list-style: none;
}

.productLink {
    display: flex;
    align-items: center;
    gap: 0 0.35rem;
    color: black;
    text-decoration: none;
}

.viewButton {
    background: transparent;
    border: var(--border_size) solid var(--222222);
    width: fit-content;
    outline: none;
}

#productButtonText {
    color: var(--222222);
}

#latestSection {
    border-bottom: var(--border_size) solid #F3F2ED;
    text-align: center;
}

#navLatest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F3F2ED;
    margin-bottom: 3rem;
}

.latestItem {
    list-style: none;
    font-family: var(--Yantramanav);
    border-bottom: var(--border_size) solid black;
    color: var(--222222);
    cursor: pointer;
}

#latestButtonText {
    color: var(--222222);
}

#pageArticle {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#articleText {
    font-family: var(--Cormorant);
    color: var(--1B1A1A);
    font-weight: var(--500);
    margin-bottom: 2rem;
}

#articleAuthor {
    color: var(--1B1A1A);
    font-style: normal;
    font-family: var(--Yantramanav);
}

#videoDiv {
    position: relative;
}

#videoMain {
    width: 100%;
    object-fit: cover;
}

#videoAside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #F3F2ED;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoPlayer {
    color: white;
}

#videoPlay {
    color: white;
    font-family: var(--Yantramanav);
}

#serviceSection {
    display: grid;
    border-bottom: var(--border_size) solid #F3F2ED;
}

.serviceDiv {
    text-align: center;
}

.serviceHead {
    color: var(--1B1A1A);
    font-family: var(--Yantramanav);
    font-weight: var(--500);
}

.serviceParagraph {
    color: var(--282828);
    font-family: var(--Yantramanav);
}

#newsSection {
    display: grid;
}

.contactMain {
    text-align: center;
}

.contactHead {
    font-family: var(--Yantramanav);
    color: var(--1B1A1A);
    font-weight: var(--500);
}

.contactParagraph {
    font-family: var(--Yantramanav);
    color: var(--222222);
}

#subscribeDiv {
    text-align: center;
}

#subscribeHead {
    font-weight: var(--500);
    font-family: var(--Cormorant);
    color: var(--1B1A1A);
}

#subscribeForm {
    border: 1px solid black;
    display: grid;
    justify-content: space-between;
}

#subscribeInput {
    border: none;
    color: var(--222222);
    font-family: var(--Yantramanav);
    outline: none;
    padding: 1.5rem;
}

#subscribeButton {
    font-family: var(--Yantramanav);
    border: none;
    background-color: var(--222222);
    color: white;
    padding: 1.5rem 1.25rem;
}

#subscribeParagraph {
    font-family: var(--Yantramanav);
    color: var(--616161);
    margin-bottom: 3rem;
}

#newsAside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1.5rem;
}

#footer {
    background-color: black;
    color: white;
}

#storeSection {
    border-bottom: var(--border_size) solid var(--9B9B9B);
}

#storeHead {
    font-family: var(--Cormorant);
    font-weight: var(--500);
}

#storeParagraph {
    font-family: var(--Yantramanav);
}

#payAside {
    display: flex;
    align-items: center;
}

#linksDiv {
    display: flex;
}

.linkHead {
    font-family: var(--Cormorant);
    font-weight: var(--500);
}

.linkNav {
    display: flex;
    flex-direction: column;
}

.linkText {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: var(--Yantramanav);
}

#curencyLangDiv {
    display: flex;
    align-items: center;
}

#currencyLangInerText {
    font-family: var(--Yantramanav);
}

#copyText {
    font-family: var(--Yantramanav);
}





/* Styling for mobile and tab */
@media all and (max-width: 1023px) {

    #pageArticle {
        padding: 7.5rem 0.75rem;
    }

    #articleText {
        margin-bottom: 2rem;
    }

    .serviceIcon {
        width: 3rem;
        height: 3rem;
    }

    .serviceHead {
        margin: 0.75rem 0;
    }

    #newsAside {
        gap: 0 1.5rem;
    }

    #payAside {
        gap: 0 0.5rem;
    }

    .payImage {
        width: 2.75rem;
        height: 1.5rem;
    }

    .linkHead {
        margin-bottom: 2rem;
    }

    .linkNav {
        gap: 1.5rem 0;
    }
}





/* Styling for both tab and desktop */
@media all and (min-width: 768px) {
    :root {
        --65px: 4.0625rem;
        --44px: 2.75rem;
        --40px: 2.5rem;
        --36px: 2.25rem;
        --35px: 2.25rem;
        --30px: 1.875rem;
        --22px: 1.375rem;
        --17px: 1.0625rem;
        --15px: 0.9375rem;
        --13px: 0.8125rem;
    }

    .curLangIcon {
        font-size: var(--13px);
    }

    #curLangOuterText {
        font-size: var(--13px);
    }

    .curLangText {
        font-size: var(--13px);
    }

    #curText {
        font-size: var(--16px);
    }

    #displayCurrency {
        right: 0;
    }

    #logo {
        font-size: var(--44px);
    }

    #logoMob {
        display: none !important;
    }

    #loginText {
        font-size: var(--17px);
        font-weight: var(--500);
    }

    #userIcon {
        display: none;
    }

    .iconTag {
        font-size: var(--30px);
    }

    #sidemenuList {
        gap: 0.75rem 0;
    }

    .sideMenuText {
        font-size: var(--15px);
    }

    .paragraphStyles {
        font-size: var(--15px);
    }

    #shopBtn {
        font-size: var(--15px);
    }

    .disShowing {
        font-size: var(--15px);
    }

    #mainProduct {
        grid-gap: 0 3.5rem;
    }

    .wishlistOptionText {
        padding: 0.75rem 2.5rem 0.75rem 0.75rem;
        font-size: var(--16px);
    }

    .wishlistOptionText::before {
        left: -7.5%;
    }

    .productAvail {
        font-size: var(--12px);
    }

    .productName {
        font-size: var(--22px);
    }

    .productPrice {
        font-size: var(--17px);
    }

    .productLinkText {
        font-size: 1rem;
    }

    .productLinkIcon {
        font-size: 0.75rem;
    }

    .latestItem {
        padding-bottom: 1rem;
        font-size: var(--17px);
    }

    #articleText {
        font-size: var(--36px);
    }

    #articleAuthor {
        font-size: var(--15px);
    }

    #latestSections {
        display: grid;
        grid-gap: 0 3.5rem;
    }

    #videoPlayer {
        font-size: 4rem;
    }

    #videoPlay {
        font-size: var(--15px);
    }

    #serviceSection {
        padding: 5rem 1rem;
    }

    .serviceHead {
        font-size: var(--22px);
    }

    .serviceParagraph {
        font-size: var(--15px);
    }

    .contactHead {
        font-size: var(--22px);
    }

    .contactParagraph {
        font-size: var(--15px);
    }

    #subscribeDiv {
        border-left: 2px solid #F3F2ED;
        border-right: 2px solid #F3F2ED;
    }

    #subscribeForm {
        grid-template-columns: 70% 30%;
        margin: 2rem 0;
    }

    #subscribeInput {
        font-size: var(--15px);
    }

    #subscribeButton {
        font-size: var(--15px);
    }

    #subscribeParagraph {
        font-size: var(--14px);
    }

    #storeHead {
        margin-bottom: 2rem;
        font-size: var(--22px);
    }

    #storeParagraph {
        font-size: var(--17px);
    }

    .linkHead {
        font-size: var(--22px);
    }

    .linkText {
        font-size: var(--15px);
    }

    #lastPage {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #copyText {
        font-size: var(--15px);
    }
}





/* Styling for mobile alone */
@media all and (max-width: 767px) {

    :root {
        --10px: 0.625rem;
        --20px: 1.25rem;
        --48px: 3rem;
        --24px: 1.5rem;
        --28px: 1.75rem;
        --8px: 0.5rem;
        --16px: 1rem;
    }

    #frontPage {
        padding: 12.5rem 0 3rem 0;
    }

    #curLangHead {
        padding: 1rem 1.25rem
    }

    #curLangOuterText {
        display: none !important;
    }

    #curLangInerText {
        display: none !important;
    }

    .curLangText {
        font-size: var(--12px);
    }

    .curLangIcon {
        font-size: var(--10px);
    }

    #displayCurrency {
        padding: 1rem 2.5rem 1rem 1rem;
        gap: 0 0.5rem;
        left: 0;
    }

    #curFlag {
        width: 2rem;
        height: 1rem;
    }

    #curText {
        font-size: var(--12px);
    }

    #sidemenuList {
        gap: 1rem 0;
        padding: 2rem 1.5rem;
    }

    .sideMenuItem:hover {
        border-bottom: 2px solid black;
    }

    .presentMenu {
        border-bottom: 2px solid black;
    }

    .sideMenuText {
        font-size: var(--12px);
    }

    .sideMenuIcon {
        padding: 0.25rem;
    }

    #logoIcon {
        padding: 1.5rem 1.25rem;
    }

    #logo {
        font-size: var(--28px);
    }

    #logoDesk {
        display: none !important;
    }

    #navIcons {
        gap: 0 1rem;
    }

    #loginText {
        display: none;
    }

    .iconTag {
        font-size: var(--20px);
    }

    .paragraphStyles {
        font-size: var(--12px);
    }

    #disHead {
        font-size: var(--48px);
        margin: 2.5rem 0;
    }

    #shopBtn {
        font-size: var(--12px);
        padding: 1.25rem 1.5rem;
        margin-bottom: 1.75rem;
    }

    .disShowing {
        font-size: var(--12px);
    }

    #productSection {
        padding: 3rem 0.5rem 4rem 0.5rem;
    }

    #productTopicDiv {
        margin-bottom: 2rem;
    }

    #productHead {
        margin-top: 1rem;
        font-size: var(--20px);
    }

    .orderOptions {
        height: 20rem;
    }

    .availDiv {
        gap: 0 0.75rem;
    }

    .productAvail {
        font-size: var(--8px);
        padding: 0.2rem 0.25rem;
    }

    .optionBtnsDiv {
        padding: 1.5rem 0;
    }

    .optionIcon {
        font-size: var(--12px);
    }

    .optionDiv:first-child {
        padding: 0.75rem 1.5rem;
    }

    .optionDiv:last-child {
        padding: 0.75rem 1.5rem;
    }

    .wishlistOptionText {
        padding: 0.5rem 1.5rem 0.5rem 0.75rem;
        bottom: 15%;
        font-size: var(--12px);
    }

    .wishlistOptionText::before {
        left: -8.5%;
    }

    .productNamePrice {
        padding: 0.5rem 0 2.5rem 0;
    }

    .productName {
        font-size: var(--12px);
        margin-bottom: 1rem;
    }

    .priceDiv {
        gap: 0 1rem;
    }

    .productPrice {
        font-size: var(--8px);
    }

    .productLinkText {
        font-size: 0.75rem;
    }

    .productLinkIcon {
        font-size: 0.5rem;
    }

    .viewButton {
        padding: 1.25rem 1.5rem;
        margin-top: 1rem;
    }

    #latestSection {
        padding: 0 0.5rem 5rem 0.5rem;
    }

    #navLatest {
        padding: 0 1rem;
    }

    .latestItem {
        font-size: var(--12px);
        padding-bottom: 0.5rem;
    }

    #pageArticle {
        height: 55vh;
    }

    #articleText {
        font-size: var(--24px);
    }

    #articleAuthor {
        font-size: var(--12px);
    }

    #videoDiv {
        padding: 0 0.5rem;
    }

    #videoMain {
        height: 12rem;
    }

    #videoAside {
        height: 10rem;
        width: 10rem;
    }

    #videoPlayer {
        font-size: 3rem;
    }

    #videoPlay {
        font-size: var(--12px);
    }

    #serviceSection {
        grid-gap: 3.5rem 0;
        padding: 3.5rem 1rem;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .serviceHead {
        font-size: var(--16px);
    }

    .serviceParagraph {
        font-size: var(--12px);
    }

    #newsSection {
        padding: 4rem 0.5rem;
    }

    .contactMain:nth-child(1) {
        margin: 1rem 1.5rem 0 1.5rem;
    }

    .contactMain:nth-child(2) {
        margin: 3rem 1.5rem 1.5rem 1.5rem;
    }

    .contactHead {
        font-size: var(--16px);
    }

    .contactParagraph {
        font-size: var(--12px);
    }

    #subscribeDiv {
        padding: 0 0.5rem;
        border-left: 1px solid #F3F2ED;
        border-right: 1px solid #F3F2ED;
    }

    #subscribeHead {
        font-size: var(--20px);
        margin: 0 4rem;
    }

    #subscribeForm {
        grid-template-columns: 62.55% 32.5%;
        margin: 1.5rem 0;
    }

    #subscribeInput {
        font-size: var(--12px);
    }

    #subscribeButton {
        font-size: var(--12px);
    }

    #subscribeParagraph {
        font-size: var(--8px);
    }

    .newsHandle {
        height: 1.25rem;
        width: 1.25rem;
    }

    #storeSection {
        padding: 4.5rem 1.5rem;
    }

    #storeHead {
        margin-bottom: 2.5rem;
        font-size: var(--16px);
    }

    #storeParagraph {
        font-size: var(--12px);
    }

    #payAside {
        margin: 2.75rem 0 1.5rem 0;
    }

    #linksDiv {
        gap: 2rem 0;
        flex-direction: column;
    }

    .linkHead {
        font-size: var(--16px);
    }

    .linkText {
        font-size: var(--12px);
    }

    #lastPage {
        padding: 3rem 4rem;
        text-align: center;
    }

    #curencyLangDiv {
        padding: 0 2.5rem;
        margin-bottom: 2rem;
        justify-content: space-between;
    }

    #currencyLangInerText {
        display: none !important;
    }

    #copyText {
        font-size: var(--12px);
    }
}





/* Styling for tab alone */
@media all and (min-width: 768px) and (max-width: 1023px) {
    :root {
        --60px: 3.75rem;
    }

    #frontPage {
        padding: 20rem 0 2.25rem 0;
    }

    #curLangHead {
        padding: 1.1rem 1.75rem
    }

    #curLangInerText {
        display: none !important;
    }

    #displayCurrency {
        padding: 1.5rem 3.5rem 1.5rem 1.5rem;
        gap: 0 0.75rem;
    }

    #curFlag {
        width: 4rem;
        height: 2rem;
    }

    #sidemenuList {
        padding: 2.5rem 1.75rem;
    }

    .sideMenuItem:hover {
        border-bottom: 3px solid black;
    }

    .sideMenuIcon {
        padding: 0.35rem;
    }

    #logoIcon {
        padding: 2rem 1.75rem;
    }

    #navIcons {
        gap: 0 2rem;
    }

    #loginText {
        margin-right: -2.5rem;
    }

    #disHead {
        margin: 1.5rem 0;
        font-size: var(--60px);
    }

    #shopBtn {
        padding: 2rem 3.75rem;
        margin-bottom: 4.5rem;
    }

    #productSection {
        padding: 3.5rem 0.75rem 5rem 0.75rem;
    }

    #productTopicDiv {
        margin-bottom: 3rem;
    }

    #productHead {
        margin-top: 1.25rem;
        font-size: var(--40px);
    }

    #mainProduct {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .orderOptions {
        height: 30rem;
    }

    .availDiv {
        gap: 0 0.75rem;
    }

    .productAvail {
        padding: 0.35rem 0.5rem;
    }

    .optionBtnsDiv {
        padding: 1.25rem 0;
    }

    .optionIcon {
        font-size: 2rem;
    }

    .optionDiv:first-child {
        padding: 1.25rem 2rem;
    }

    .optionDiv:last-child {
        padding: 1.25rem 2rem;
    }    
    
    .wishlistOptionText {
        bottom: 22.5%;
    }

    .productNamePrice {
        padding: 2rem 0 3.5rem 0;
    }

    .productName {
        margin-bottom: 1rem;
    }

    .priceDiv {
        gap: 0 1.5rem;
    }

    .viewButton {
        padding: 2rem 3.5rem;
        margin-top: 1.25rem;
    }

    #latestSection {
        padding: 0 0.75rem 5rem 0.75rem;
    }

    #navLatest {
        padding: 0 25%;
    }

    #latestSections {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0 3.5rem;
    }

    #pageArticle {
        height: 45vh;
    }

    #videoDiv {
        padding: 0 0.5rem;
    }

    #videoMain {
        height: 35rem;
    }

    #videoAside {
        height: 19rem;
        width: 19rem;
    }

    #serviceSection {
        grid-gap: 3.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    #newsSection {
        padding: 4rem 0.75rem;
        grid-template-columns: 50% 50%;
    }

    .contactMain:nth-child(1) {
        margin: 1rem 0;
    }

    .contactMain:nth-child(2) {
        margin: 1rem 0;
    }

    #subscribeDiv {
        grid-column: 1/3;
        padding: 1rem 12.5rem;
    }

    #subscribeHead {
        font-size: var(--40px);
    }

    .newsHandle {
        height: 1.75rem;
        width: 1.75rem;
    }

    #storeSection {
        padding: 4.5rem 1.5rem;
    }

    #payAside {
        margin: 2.5rem 0 1.75rem 0;
    }

    #linksDiv {
        gap: 0 11.5rem;
    }

    #lastPage {
        padding: 4rem 1.5rem;
    }

    #curencyLangDiv {
        gap: 0 2rem;
    }

    #currencyLangInerText {
        display: none !important;
    }
}





/* Styling for desktop alone */
@media all and (min-width: 1024px) {
    :root {
        --85px: 5.3125rem;
        --45px: 2.8125rem;
        --55px: 3.4375rem;
    }

    #frontPage {
        padding: 17.5rem 0 2.75rem 0;
    }

    #curLangHead {
        padding: 1rem 3rem
    }

    #curInnerDiv {
        gap: 0 1.5rem;
    }

    #curLangInerText {
        font-size: var(--13px);
        cursor: pointer;
    }

    #displayCurrency {
        padding: 1.75rem 4rem 1.75rem 1.75rem;
        gap: 0 1rem;
    }

    #curFlag {
        width: 2rem;
        height: 1rem;
    }

    #sidemenuList {
        padding: 2rem 3rem;
    }

    .sideMenuItem:hover {
        border-bottom: 1px solid black;
    }

    .sideMenuIcon {
        padding: 0.25rem;
    }

    #logoIcon {
        padding: 1.75rem 3rem;
    }

    #navIcons {
        gap: 0 2rem;
    }

    #loginText {
        margin-right: -2rem;
    }

    #displayText {
        width: 50%;
        margin: 0 auto auto auto;
    }

    #disHead {
        margin: 2rem 0;
        font-size: var(--85px);
    }

    #shopBtn {
        padding: 1.75rem 3.75rem;
        margin-bottom: 5rem;
    }

    #productSection {
        padding: 9rem 0.75rem 9rem 0.75rem;
    }

    #productTopicDiv {
        margin-bottom: 3.5em;
    }

    #productHead {
        margin-top: 1.5rem;
        font-size: var(--45px);
    }

    #mainProduct {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0 3.5rem;
    }

    .orderOptions {
        height: 25rem;
    }

    .availDiv {
        gap: 0 0.85rem;
    }

    .productAvail {
        padding: 0.25rem 0.5rem;
    }

    .optionBtnsDiv {
        padding: 1.25rem 0;
    }

    .optionIcon {
        font-size: 1.75rem;
    }

    .optionDiv:first-child {
        padding: 0.75rem 1.75rem;
    }

    .optionDiv:last-child {
        padding: 0.75rem 1.75rem;
    }

    .wishlistOptionText {
        bottom: 7%;
    }

    .productNamePrice {
        padding: 2rem 0 3rem 0;
    }

    .productName {
        margin-bottom: 0.5rem;
    }

    .priceDiv {
        gap: 0 1.5rem;
    }

    .viewButton {
        padding: 1.75rem 3.5rem;
        margin-top: 1rem;
    }

    #latestSection {
        padding: 0 0.75rem 9rem 0.75rem;
    }

    #navLatest {
        padding: 0 35%;
    }

    #latestSections {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #pageArticle {
        height: 40vh;
    }

    #pageArticle {
        padding: 7.5rem 20rem;
    }

    #videoDiv {
        padding: 0 0.75rem;
    }

    #videoMain {
        height: 40rem;
    }

    #videoAside {
        height: 21rem;
        width: 21rem;
    }

    #serviceSection {
        grid-gap: 0 5rem;
        grid-template-columns: repeat(4, 1fr);
    }

    .serviceHead {
        margin: 1rem 0;
    }

    .serviceIcon {
        width: 4rem;
        height: 4rem;
    }

    #newsSection {
        padding: 7.5rem 0.75rem;
        grid-template-columns: 27.5% 45% 27.5%;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .contactMain:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .contactMain:nth-child(2) {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    #subscribeDiv {
        grid-row: 1/2;
        grid-column: 2/3;
        padding: 1rem 5rem;
    }

    #subscribeHead {
        font-size: var(--55px);
    }

    .newsHandle {
        height: 1.5rem;
        width: 1.5rem;
    }

    #storeSection {
        padding: 7.5rem 1.5rem;
        display: grid;
        grid-template-columns: 30% 57.5%;
        align-items: center;
        grid-gap: 0 13.5rem;
    }

    #payAside {
        margin: 2.5rem 0 0 0;
        gap: 0 0.45rem;
    }

    .payImage {
        width: 3.5rem;
        height: 2.25rem;
    }

    #linksDiv {
        gap: 0 10rem;
    }

    .linkHead {
        margin-bottom: 2.5rem;
    }

    .linkNav {
        gap: 1.75rem 0;
    }

    #lastPage {
        padding: 3.5rem 2rem;
    }

    #curencyLangDiv {
        gap: 0 1.5rem;
    }

    #currencyLangInerText {
        font-size: var(--13px);
    }
}