.productList {
  display: flex;
  align-items: center;
  gap: 0 0.35rem;
}

.productListItem {
  list-style: none;
}

.productLink {
  display: flex;
  align-items: center;
  gap: 0 0.35rem;
  color: black;
  text-decoration: none;
}

#productReviewImages {
  display: grid;
  grid-template-columns: 20% 80%;
}

#productSideImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1 / 6;
}

.productSizeList {
  list-style: none;
  overflow: hidden;
}

.productSizeList:first-child {
  border: 1px solid var(--616161);
}

.imageSize {
  width: 100%;
  height: 100%;
}

#productMainImageDiv {
  grid-row: 1 / 6;
  overflow: hidden;
}

.productDetailName {
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
}

.productDetailPrice {
  font-family: var(--Roboto);
  color: var(--222222);
}

#productDetailReview {
  color: var(--222222);
  font-family: var(--Roboto);
}

.productDetailDesc {
  color: var(--282828);
  font-family: var(--Roboto);
  margin-bottom: 1rem;
}

.productDivs {
  border-bottom: 0.25px solid var(--F3F2ED);
}

.productPrepText {
  font-family: var(--Roboto);
  color: var(--222222);
}

.productPrepDiv {
  background-color: #00A849;
}

.productColorText {
  color: var(--1B1A1A);
  font-family: var(--Roboto);
}

.productColorMain {
  display: flex;
  align-items: center;
}

.productColorMainDiv {
  border-radius: 50%;
}

.productColorMainText {
  font-family: var(--Roboto);
  color: var(--1B1A1A);
}

.productSizeDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productSizeText {
  font-family: var(--Roboto);
  color: var(--222222);
}

.productSizeMainText {
  font-family: var(--Roboto);
  color: var(--282828);
  border: 0.15px solid var(--616161);
  width: fit-content;
}

.productToCart {
  display: flex;
}

.productToCartDiv {
  border: 1px solid var(--616161);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.productToCartInnerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--222222);
}

.productToCartInnerDiv:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.productToCartInnerDiv:nth-child(2),
.productToCartInnerDiv:nth-child(3) {
  border-left: 1px solid var(--616161);
}

.productToCartInnerDiv:nth-child(2) {
  border-bottom: 1px solid var(--616161);
}

.productToCartButton {
  background-color: var(--222222);
  color: white;
  font-family: var(--Roboto);
  border: none;
}

.productToWishlist {
  display: flex;
  align-items: center;
}

.productWishlistText {
  font-family: var(--Roboto);
  color: var(--222222);
}

#productDeliveryInfo {
  display: flex;
  align-items: center;
}

.productDeliveryInfoInnerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productDeliveryInfoTexts {
  color: var(--282828);
  font-family: var(--Roboto);
  text-align: center;
}

#productDeliveryPayment {
  background-color: var(--F3F2ED);
}

#productDeliveryPaymentText {
  font-family: var(--Roboto);
  color: var(--282828);
}

#productDeliveryPaymentDiv {
  display: flex;
}

.productDeliveryDetails {
  display: flex;
}

.productDeliveryDetailsTexts {
  color: var(--1B1A1A);
  font-family: var(--Roboto);
  display: flex;
  align-items: center;
}

.productDeliveryDetailsInnerText {
  color: var(--222222);
}

#productHandles {
  display: flex;
}

#productAbout {
  border-bottom: 0.15px solid var(--F3F2ED);
}

#productAboutMain {
  display: flex;
  justify-content: center;
  border-bottom: 0.15px solid var(--F3F2ED);
}

.productAboutMainTexts {
  color: var(--616161);
  font-family: var(--Roboto);
}

#productAboutText {
  color: var(--282828);
  font-family: var(--Roboto);
}

#productAboutDiv {
  display: flex;
  flex-direction: column;
}

.productAboutInnerDiv {
  display: flex;
  align-items: center;
  border-bottom: 0.15px solid var(--F3F2ED);
}

.productAboutInnerDiv:last-child {
  border-bottom: none;
}

.productAboutInnerText {
  color: var(--1B1A1A);
  font-family: var(--Roboto);
}

#productRelatedText {
  text-align: center;
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
}







#productViewMain {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#productViewMain::-webkit-scrollbar {
  width: 2px;
}

#productViewMain::-webkit-scrollbar-track {
  background-color: white;
}

#productViewMain::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--9B9B9B);
}

#productViewDiv {
  position: relative;
}

#productViewBack {
  position: absolute;
  right: 0;
}

#productViewImage {
  width: 100%;
}

#productReviewLinkDiv {
  display: flex;
  justify-content: end;
}

#productReviewLink {
  text-decoration: none;
  color: var(--222222);
  font-family: var(--Yantramanav);
}







@media all and (min-width: 768px) {
  .otherPages {
    margin-top: 10rem;
  }

  .productLinkText {
    font-size: 1rem;
  }

  .productLinkIcon {
    font-size: 0.75rem;
  }

  #productReviewImages {
    grid-template-rows: 8rem 8rem 8rem 8rem 8rem;
  }

  .productDetailPrice {
    font-size: var(--16px);
  }

  #productDetailReview {
    font-size: var(--16px);
  }

  .productDetailDesc {
    font-size: var(--16px);
  }

  .productDivs {
    padding: 2rem 0;
  }

  .productPrepText {
    font-size: var(--16px);
  }

  .productColorText {
    margin-bottom: 1rem;
    font-size: var(--16px);
  }

  .productColorMain {
    gap: 0 0.75rem;
  }

  .productColorMainDiv {
    height: 1.5rem;
    width: 1.5rem;
  }

  .productColorMainText {
    font-size: var(--16px);
  }

  .productSizeDiv {
    margin-bottom: 1rem;
  }

  .productSizeText {
    font-size: var(--16px);
  }

  .productSizeMainText {
    padding: 0.75rem;
    font-size: var(--16px);
  }

  .productToCart {
    margin-bottom: 1rem;
  }

  .productToCartInnerDiv {
    font-size: var(--16px);
    padding: 0.15rem 0.5rem;
  }

  .productToCartButton {
    font-size: var(--16px);
  }

  .productToWishlist {
    gap: 0 0.5rem;
  }

  .productWishlistIcon {
    font-size: var(--16px);
  }

  .productWishlistText {
    font-size: var(--16px);
  }

  #productDeliveryInfo {
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .productDeliveryInfoInnerDiv {
    gap: 0.75rem 0;
  }

  .productDeliveryInfoIcons {
    width: 1.75rem;
    height: 1.75rem;
  }

  .productDeliveryInfoTexts {
    font-size: var(--16px);
  }

  #productDeliveryPayment {
    padding: 2rem;
  }

  #productDeliveryPaymentText {
    margin-bottom: 0.75rem;
    font-size: var(--16px);
  }

  #productDeliveryPaymentDiv {
    gap: 0 0.5rem;
  }

  .productDeliveryDetails {
    gap: 0 0.5rem;
  }

  .productDeliveryDetailsTexts {
    font-size: var(--16px);
  }

  .productDeliveryDetailsSpan {
    margin-left: 0.35rem;
  }

  .productAboutMainTexts {
    padding-bottom: 0.75rem;
    font-size: var(--16px);
  }

  #productAboutText {
    font-size: var(--16px);
    margin-top: 2rem;
  }

  #productAboutTextInnerDiv {
    display: grid;
    grid-template-columns: 50% 40%;
  }

  #productAboutDiv {
    gap: 1.5rem 0;
    margin-top: 1rem;
  }

  .productAboutInnerDiv {
    padding-bottom: 1.5rem;
    gap: 0 1.25rem;
  }

  .productAboutInnerImage {
    height: 1.75rem;
    width: 1.75rem;
  }

  .productAboutInnerText {
    font-size: var(--16px);
  }

  #productRelatedMain {
    display: grid;
    grid-gap: 0 3.5rem;
  }

  #productViewBack {
    padding: 1rem;
  }

  #productViewBackIcon {
    font-size: var(--16px);
  }

  #productViewMainDiv {
    padding: 1.5rem;
  }

  #productReviewLink {
    font-size: var(--16px);
  }
}





@media all and (max-width: 767px) {
  :root {
    --20px: 1.25rem;
    --12px: 0.75rem;
  }

  .otherPages {
    margin-top: 8rem;
    padding: 1rem 1rem 0 1rem;
  }

  .productLinkText {
    font-size: var(--12px);
  }

  .productLinkIcon {
    font-size: 0.5rem;
  }

  #productReviewMain {
    margin-top: 2.5rem;
  }

  #productReviewImages {
    grid-template-rows: 4.25rem 4.25rem 4.25rem 4.25rem 4.25rem;
    gap: 0 0.20rem;
  }

  #productSideImages {
    gap: 0.20rem 0;
  }

  .productSizeList:first-child {
    padding: 0.15rem;
  }

  #productReviewDiv {
    padding: 2.5rem 0 3rem 0;
  }

  .productDetailName {
    font-size: var(--20px);
    margin-bottom: 0.75rem;
  }

  .productDetailPrice {
    font-size: var(--12px);
  }

  #productDetailReview {
    margin: 1rem 0;
    font-size: var(--12px);
  }

  .productDetailDesc {
    font-size: var(--12px);
  }

  .productDivs {
    padding: 1rem 0;
  }

  .productPrepText {
    margin-bottom: 0.5rem;
    font-size: var(--12px);
  }

  .productPrepDiv {
    padding: 0.15rem;
  }

  .productColorText {
    margin-bottom: 0.5rem;
    font-size: var(--12px);
  }

  .productColorMain {
    gap: 0 0.5rem;
  }

  .productColorMainDiv {
    height: 1.25rem;
    width: 1.25rem;
  }

  .productColorMainText {
    font-size: var(--12px);
  }

  .productSizeDiv {
    margin-bottom: 0.75rem;
  }

  .productSizeText {
    font-size: var(--12px);
  }

  .productSizeMainText {
    padding: 0.5rem;
    font-size: var(--12px);
  }

  .productToCart {
    gap: 0 1rem;
    margin-bottom: 0.75rem;
  }

  .productToCartInnerDiv {
    padding: 0.05rem 0.30rem;
    font-size: var(--12px);
  }

  .productToCartButton {
    padding: 0 0.75rem;
    font-size: var(--12px);
  }

  .productToWishlist {
    gap: 0 0.25rem;
  }

  .productWishlistIcon {
    font-size: var(--12px);
  }

  .productWishlistText {
    font-size: var(--12px);
  }

  #productDelivery {
    margin-top: 1.5rem;
  }

  #productDeliveryInfo {
    flex-direction: column;
    gap: 1rem 0;
    margin-bottom: 1rem;
  }

  .productDeliveryInfoInnerDiv {
    gap: 0.5rem 0;
  }

  .productDeliveryInfoIcons {
    width: 1.5rem;
    height: 1.5rem;
  }

  .productDeliveryInfoTexts {
    font-size: var(--12px);
  }

  #productDeliveryPayment {
    padding: 1rem;
  }

  #productDeliveryPaymentText {
    margin-bottom: 0.75rem;
    font-size: var(--12px);
  }

  #productDeliveryPaymentDiv {
    gap: 0 0.5rem;
  }

  .productDeliveryDetails {
    flex-direction: column;
    margin: 1rem 0;
    gap: 0.25rem 0;
  }

  .productDeliveryDetailsTexts {
    font-size: var(--12px);
  }

  .productDeliveryDetailsSpan {
    margin-left: 0.25rem;
  }

  #productHandles {
    gap: 0 0.75rem;
  }

  #productAbout {
    padding-bottom: 3rem;
  }

  #productAboutMain {
    gap: 0 5rem;
  }

  .productAboutMainTexts {
    padding-bottom: 0.5rem;
    font-size: var(--12px);
  }

  #productAboutText {
    margin-top: 1.5rem;
    font-size: var(--12px);
  }

  #productAboutDiv {
    margin-top: 2.5rem;
    gap: 1rem 0;
  }

  .productAboutInnerDiv {
    padding-bottom: 1rem;
    gap: 0 1rem;
  }

  .productAboutInnerImage {
    height: 1.5rem;
    width: 1.5rem;
  }

  .productAboutInnerText {
    font-size: var(--12px);
  }

  #productRelatedText {
    margin: 3rem 0 2rem 0;
    font-size: var(--20px);
  }

  #productViewMain {
    width: 90%;
    height: 90vh;
  }

  #productViewBack {
    padding: 0.75rem;
  }

  #productViewBackIcon {
    font-size: var(--12px);
  }

  #productViewImage {
    height: 21.25rem;
  }

  #productViewMainDiv {
    padding: 1rem;
  }

  #productReviewLink {
    font-size: var(--12px);
  }
}





@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --16px: 1rem;
    --24px: 1.5rem;
    --32px: 2rem;
  }

  .otherPages {
    padding: 1.75rem;
  }

  #productReviewMain {
    margin-top: 6rem;
  }

  #productReviewImages {
    gap: 0 0.5rem;
  }

  #productSideImages {
    gap: 0.5rem 0;
  }

  .productSizeList:first-child {
    padding: 0.35rem;
  }

  #productReviewDiv {
    margin: 2.5rem 0 5rem 0;
  }

  .productDetailName {
    font-size: var(--32px);
    margin-bottom: 0.5rem;
  }

  #productDetailReview {
    margin: 1rem 0;
  }

  .productPrepText {
    margin-bottom: 1rem;
  }

  .productPrepDiv {
    padding: 0.25rem;
  }

  .productToCart {
    gap: 0 1.5rem;
  }

  .productToCartButton {
    padding: 0 1.25rem;
  }

  #productDelivery {
    margin-top: 2rem;
  }

  #productDeliveryInfo {
    gap: 0 5rem;
  }

  .productDeliveryDetails {
    margin: 1.5rem 0;
  }

  #productHandles {
    gap: 0 1rem;
  }

  #productAbout {
    padding-bottom: 6rem;
  }

  #productAboutMain {
    gap: 0 10rem;
  }

  #productAboutTextInnerDiv {
    margin-top: 1.5rem;
    gap: 0 5rem;
  }

  #productRelatedText {
    margin: 6rem 0 4rem 0;
    font-size: var(--32px);
  }

  #productRelatedMain {
    grid-template-columns: 1fr 1fr;
  }

  #productViewMain {
    width: 57.5%;
    height: 90vh;
  }

  #productViewImage {
    height: 30rem;
  }
}





@media all and (min-width: 1024px) {
  :root {
    --16px: 1rem;
    --20px: 1.25rem;
    --24px: 1.5rem;
  }

  .otherPages {
    padding: 1.5rem;
  }

  #productReviewMain {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 5rem;
  }

  #productReviewImages {
    gap: 0 0.75rem;
  }

  #productSideImages {
    gap: 0.75rem 0;
  }

  .productSizeList:first-child {
    padding: 0.5rem;
  }

  #productReviewDiv {
    overflow-y: auto;
    height: 40rem;
  }

  #productReviewDiv::-webkit-scrollbar {
    display: none;
  }

  .productDetailName {
    font-size: var(--24px);
    margin-bottom: 0.75rem;
  }

  #productDetailReview {
    margin: 1.25rem 0;
  }

  .productPrepText {
    margin-bottom: 0.75rem;
  }

  .productPrepDiv {
    padding: 0.20rem;
  }

  .productToCart {
    gap: 0 1.25rem;
  }

  .productToCartButton {
    padding: 0 1.5rem;
  }

  #productDelivery {
    margin-top: 2.5rem;
  }

  #productDeliveryInfo {
    gap: 0 7.5rem;
  }

  .productDeliveryDetails {
    margin: 2rem 0;
  }

  #productHandles {
    gap: 0 1.25rem;
  }

  #productAbout {
    padding-bottom: 5rem;
  }

  #productAboutMain {
    gap: 0 7.5rem;
  }

  #productAboutTextInnerDiv {
    margin-top: 2rem;
    gap: 0 7.5rem;
  }

  #productRelatedText {
    font-size: var(--24px);
    margin: 5rem 0 3rem 0;
  }

  #productRelatedMain {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #productViewMain {
    width: 70%;
    height: fit-content;
  }

  #productViewInnerMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #productViewImage {
    height: 55vh;
  }

  #productViewMainDiv {
    height: 55vh;
    overflow-y: auto;
  }

  #productColorView {
    display: none;
  }

  #productSizeView {
    display: none;
  }

  #productDeliveryDetailsView {
    display: none;
  }
}