/* Styling for the register page */
.navSections {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1B1A1AB3;
  z-index: 100;
}

.mainNav {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}

.mainRegister {
  width: 80%;
  padding: 1.5rem;
}

.cancelBtn {
  position: relative;
  left: 100%;
}

.registerHead {
  font-size: var(--20px);
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
  margin-bottom: 1rem;
}

.registerInput {
  color: var(--222222);
  font-family: var(--Yantramanav);
  outline: none;
  padding: 1.5rem;
  border: 1px solid black;
  font-size: var(--12px);
  width: 100%;
}

.registerInput:nth-child(1) {
  margin-bottom: 1rem;
}

.registerInput:nth-child(2) {
  margin-bottom: 1rem;
}

#registerParagraph {
  font-size: var(--12px);
  font-family: var(--Yantramanav);
  color: var(--1B1A1A);
  margin-bottom: 1rem;
}

#registerCheck {
  vertical-align:middle;
  margin-right: 0.5rem;
}

#forgotBtn {
  margin-left: 0.5rem;
  color: var(--222222);
}

.navBtn {
  background-color: var(--222222);
  color: white;
  font-size: var(--12px);
  padding: 1.25rem 0;
  width: 100%;
  font-family: var(--Yantramanav);
  outline: none;
}

.registerBtn {
  margin-bottom: 1rem;
}

.registerNavText {
  text-align: center;
  font-family: var(--Yantramanav);
  color: var(--222222);
  font-size: var(--12px);
}