/* Styling for the search page */
.navBack {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 100;
}

.navBackIcon {
  position: relative;
  left: 97.5%;
  color: black;
}

.navFooter {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
}

#searchForm {
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
  border: 1px solid black;
}

#searchInput {
  color: var(--222222);
  font-family: var(--Yantramanav);
  outline: none;
  border: none;
}

#searchIcon {
  color: var(--222222);
  border: none;
}

.navHeadText {
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
}

#searchHead {
  text-align: center;
}

#searchProductSection {
  text-align: center;
}





@media all and (max-width: 767px) {

  #searchHeader {
    padding: 0.85rem;
  }

  .navBackIcon {
    font-size: 1rem;
  }

  .navFooter {
    padding: 1.5rem 0;
  }

  #searchMain {
    margin-top: 4rem;
  }

  #searchForm {
    margin: 0 1.5rem;
  }

  #searchInput {
    padding: 1.5rem;
    font-size: var(--12px);
  }

  #searchIcon {
    padding:1.5rem;
    font-size: var(--12px);
  }

  #searchProductDiv {
    margin-top: 4rem;
  }
  
  .navHeadText {
    font-size: var(--24px)
  }

  #searchHead {
    margin-bottom: 4rem;
  }

  #searchProductSection {
    padding: 0 3rem 3rem 3rem;
  }
}





@media all and (min-width: 768px) and (max-width: 1023px) {

}





@media all and (min-width: 1024px) {

}