/* Styling for the search page */
:root {
  --16px: 1rem;
  --1B1A1A: #1B1A1A;
  --222222: #222222;
  --Cormorant: 'Cormorant Infant', sans-serif;
  --Yantramanav: 'Yantramanav', sans-serif;
}

#searchSection {
  top: 0;
  left: 0;
}

#searchSection::-webkit-scrollbar {
  display: none;
}

.navBack {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.navBackIcon {
  color: var(--1B1A1A);
  align-self: flex-end;
}

.navFooter {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
}

#searchForm {
  display: grid;
  grid-template-columns: 85% 15%;
  align-items: center;
  border: 1px solid black;
}

#searchInput {
  color: var(--222222);
  font-family: var(--Yantramanav);
  outline: none;
  border: none;
}

#searchIconDiv {
  border: none;
  text-align: center;
}

#searchIcon {
  color: var(--222222);
}

.navHeadText {
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
}

#searchHead {
  text-align: center;
}

#searchProductSection {
  text-align: center;
}





/* Styling for both tab and desktop */
@media all and (min-width: 768px) {
  :root {
    --24px: 1.5rem;
  }

  #searchInput {
    font-size: var(--16px);
  }

  #searchIcon {
    font-size: var(--16px);
  }

  #searchProductSection {
    padding: 0 5rem 5rem 5rem;
    display: grid;
    gap: 1rem 3rem;
  }
}





/* Styling for mobile alone */
@media all and (max-width: 767px) {
  :root {
    --12px: 0.75rem;
    --20px: 1.25rem;
  }

  #searchHeader {
    padding: 0.85rem;
  }

  .navBackIcon {
    font-size: var(--16px);
  }

  #searchFooter {
    padding: 1.5rem 0;
  }

  #searchMain {
    margin-top: 4rem;
  }

  #searchForm {
    margin: 0 1.5rem;
    padding: 1.5rem 0 1.5rem 1.5rem;
  }

  #searchInput {
    font-size: var(--12px);
  }

  #searchIcon {
    font-size: var(--12px);
  }

  #searchProductDiv {
    margin-top: 4rem;
  }
  
  .navHeadText {
    font-size: var(--20px)
  }

  #searchHead {
    margin-bottom: 4rem;
  }

  #searchProductSection {
    padding: 0 3rem 3rem 3rem;
  }
}





/* Styling for tab alone */
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --32px: 2rem;
  }

  #searchHeader {
    padding: 1.75rem 2rem;
  }

  .navBackIcon {
    font-size: var(--24px);
  }

  #searchFooter {
    padding: 2.75rem 0;
  }

  #searchMain {
    margin-top: 6.5rem;
  }

  #searchForm {
    margin: 0 6.5rem;
    padding: 2rem 0 2rem 2rem;
  }

  #searchProductDiv {
    margin-top: 3.5rem;
  }
  
  .navHeadText {
    font-size: var(--32px)
  }

  #searchHead {
    margin-bottom: 3.5rem;
  }

  #searchProductSection {
    grid-template-columns: 1fr 1fr;
  }
}





/* Styling for desktop alone */
@media all and (min-width: 1024px) {
  :root {
    --20px: 1.25rem;
  }

  #searchHeader {
    padding: 1.5rem 1.25rem 1rem 1.25rem;
  }

  .navBackIcon {
    font-size: var(--20px);
  }

  #searchFooter {
    padding: 2rem 0;
  }

  #searchMain {
    margin-top: 5rem;
  }

  #searchForm {
    width: 50%;
    margin: 0 auto;
    padding: 1.5rem 0 1.5rem 1.5rem;
  }

  #searchProductDiv {
    margin-top: 5.5rem;
  }
  
  .navHeadText {
    font-size: var(--24px)
  }

  #searchHead {
    margin-bottom: 2.5rem;
  }

  #searchProductSection {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}