/* Styling for the wishlist page */
#wishListMain {
  background-color: white;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.wishListContainers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: var(--12px);
  position: sticky;
  width: 100%;
}

#wishListHeader {
  background-color: #282828;
  top: 0;
}

#wishListText {
  color: white;
  font-weight: bold;
  font-family: var(--Yantramanav);
}

#wishListCancel {
  color: var(--9B9B9B);
}

#wishListItemSection {
  padding: 1rem;
}

.wishListDiv {
  display: grid;
  grid-template-columns: 10% 20% 30% 40%;
  grid-gap: 0.25rem;
  align-items: center;
  padding: 0.75rem 0;
  border-bottom: 0.5px solid var(--9B9B9B);
}

.wishListDiv:last-child {
  border-bottom: none;
}

.wishListDetails {
  word-break: keep-all;
}

.wishListImage {
  height: 6rem;
  width: 4rem;
}

.wishListPrice {
  margin: 0.25rem 0;
}

.wishListAvailMain {
  margin: 0 1rem 1.5rem 0;
  border-bottom: 1px solid var(--9B9B9B);
}

.wishListAvailBar {
  background-color: green;
  padding: 0.15rem;
  margin: 0.75rem 0 1.5rem 0;
}

.defaultText {
  font-size: var(--12px);
  font-family: var(--Yantramanav);
}

#wishListDefaultText {
  text-align: center;
}

#wishListLinkDiv {
  bottom: 0;
  background-color: white;
}

.wishListLinks {
  color: black;
}