/* Styling for the wishlist page */
:root {
  --16px: 1rem;
  --222222: #222222;
  --9B9B9B: #9B9B9B;
  --282828: #282828;
  --Yantramanav: 'Yantramanav', sans-serif;
}

#wishListMain {
  background-color: white;
  height: fit-content;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#wishListMain::-webkit-scrollbar {
  width: 2px;
}

#wishListMain::-webkit-scrollbar-track {
  background-color: white;
}

#wishListMain::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--9B9B9B);
}

.wishListContainers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
}

#wishListHeader {
  background-color: var(--282828);
  top: 0;
}

#wishListText {
  font-weight: bold;
  font-family: var(--Yantramanav);
  color: white;
}

#wishListCanIcon {
  color: var(--9B9B9B);
}

.wishListDiv {
  display: grid;
  grid-template-columns: 10% 20% 30% 40%;
  align-items: center;
  border-bottom: 0.5px solid var(--9B9B9B);
}

.wishListDiv:last-child {
  border-bottom: none;
}

.delWishListIcon {
  color: var(--222222);
}

.wishListDetails {
  word-break: keep-all;
}

.wishListPrice {
  margin: 0.25rem 0;
}

.wishListAvailMain {
  border-bottom: 1px solid var(--9B9B9B);
}

.wishListAvailBar {
  background-color: green;
}

.defaultText {
  font-family: var(--Yantramanav);
}

#wishListDefaultText {
  text-align: center;
}

#wishListLinkDiv {
  bottom: 0;
  background-color: white;
}

.wishListLinks {
  color: var(--222222);
  font-family: var(--Yantramanav);
}

.wishListTexts {
  font-family: var(--Yantramanav);
  color: var(--222222);
}




/* Styling for tab and desktop */
@media all and (min-width: 768px) {
  #wishListMain { 
    left: 0;
    right: 0;
  }

  .wishListContainers {
    padding: 1.25rem 1.5rem;
    font-size: var(--16px);
  }

  #wishListItemSection {
    padding: 1.5rem;
  }

  .delWishListIcon {
    font-size: var(--16px);
  }

  .wishListImage {
    height: 8rem;
  }

  .wishListTexts {
    font-size: var(--16px);
  }

  .wishListAvailMain {
    margin: 0 1rem 2rem 0;
  }

  .wishListAvailBar {
    padding: 0.20rem;
    margin: 1rem 0 2rem 0;
  }

  .defaultText {
    font-size: var(--16px);
  }
}





/* Styling for mobile alone */
@media all and (max-width: 767px) {
  :root {
    --12px: 0.75rem;
    --16px: 1rem;
  }

  #wishListMain {
    width: 100%;
  }

  .wishListContainers {
    padding: 1rem;
    font-size: var(--12px);
  }

  #wishListCanIcon {
    font-size: var(--16px);
  }

  #wishListItemSection {
    padding: 1rem;
  }

  .wishListDiv {
    grid-gap: 0.25rem;
    padding: 0.75rem 0;
  }

  .delWishListIcon {
    font-size: var(--12px);
  }

  .wishListImage {
    height: 6rem;
    width: 4rem;
  }

  .wishListTexts {
    font-size: var(--12px);
  }

  .wishListAvailMain {
    margin: 0 1rem 1.5rem 0;
  }

  .wishListAvailBar {
    padding: 0.15rem;
    margin: 0.75rem 0 1.5rem 0;
  }

  .defaultText {
    font-size: var(--12px);
  }
}





/* Styling for tab alone */
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --24px: 1.5rem;
  }

  #wishListMain {
    width: 60%;
  }

  #wishListCanIcon {
    font-size: var(--24px);
  }

  .wishListDiv {
    grid-gap: 0.25rem;
    padding: 1rem 0;
  }

  .wishListImage {
    width: 6rem;
  }
}





/* Styling for desktop alone */
@media all and (min-width: 1024px) {
  :root {
    --20px: 1.5rem;
  }

  #wishListMain {
    width: 35%;
  }

  #wishListCanIcon {
    font-size: var(--20px);
  }

  .wishListDiv {
    grid-gap: 0.35rem;
    padding: 1.25rem 0;
  }

  .wishListImage {
    width: 6.5rem;
  }
}