* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Yantramanav: 'Yantramanav', sans-serif;
    --Cormorant: 'Cormorant Infant', sans-serif;
    --12px: 0.75rem;
    --border_size: 1px;
    --616161: #616161;
    --282828: #282828;
    --1B1A1A: #1B1A1A;
    --222222: #222222;
    --9B9B9B: #9B9B9B;
    --500: 500;
}

@import url('styles/home.css');
@import url('styles/productreview.css');
@import url('styles/register.css');
@import url('styles/search.css');
@import url('styles/wishlist.css');
@import url('styles/cart.css');