* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Yantramanav: 'Yantramanav', sans-serif;
    --13px: 0.8125rem;
    --15px: 0.9375rem;
    --Cormorant: 'Cormorant Infant', sans-serif;
    --55px: 4.2308rem;
    --35px: 2.25rem;
    --22px: 1.375rem;
    --17px: 1.0625rem;
    --12px: 0.75rem;
    --36px: 2.25rem;
    --40px: 2.5rem;
    --30px: 1.875rem;
    --14px: 0.875rem;
    --616161: #616161;
    --282828: #282828;
    --1B1A1A: #1B1A1A;
    --222222: #222222;
    --9B9B9B: #9B9B9B;
}

#header {
    border-bottom: 1px solid black;
}

#curLangHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem 1.25rem;
    color: white;
}

.curLangMain {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.curLangText {
    font-family: var(--Yantramanav);
    font-size: var(--13px);
}

.curLangIcon {
    font-size: 0.75rem;
}

#logoIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.25rem;
}

#logo {
    font-size: 2.5rem;
    font-family: "Nanum Myeongjo", serif;
    /* font-weight: 600; */
    font-style: normal;
}

#navIcons {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.icons {
    list-style: none;
}

.iconTag {
    font-size: 1.75rem;
}

#displayText {
    width: 80%;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 6.5vh auto auto auto;
    text-align: center;
}

.paragraphStyles {
    font-size: var(--15px);
    font-family: var(--Yantramanav);
    /* font-size: 600; */
}

#disHead {
    font-size: var(--55px);
    font-family: var(--Cormorant);
    margin: 2.5rem 0;
}

#shopBtn {
    font-family: var(--Yantramanav);
    /* font-weight: 400; */
    background-color: #010101;
    color: white;
    border: none;
    padding: 1.6rem 1.5rem;
    font-size: var(--15px);
    margin-bottom: 1.75rem;
}

#disDiv {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    margin-bottom: 4rem;
}

.disShowing {
    border-bottom: 1px solid black;
    font-size: var(--15px);
    font-family: var(--Yantramanav);
}

#productSection {
    text-align: center;
    padding: 2rem 0.5rem 4rem 0.5rem;
}

#productTopicDiv {
    margin-bottom: 2rem;
}

#productParagraph {
    color: var(--282828);
}

#productHead {
    margin-top: 1rem;
    color: var(--1B1A1A);
    font-family: var(--Cormorant);
    font-size: var(--35px);
}

.orderOptions {
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    height: 40rem;
    display: flex;
}

.availDiv {
    width: fit-content;
    position: absolute;
    margin: 0.75rem 0 0 0.75rem;
    display: flex;
    gap: 0 0.75rem;
}

.productAvail {
    color: white;
    font-size: var(--12px);
    padding: 0.25rem;
}

.optionBtnsDiv {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    width: 100%;
    padding: 1.5rem 0;
}

.selectOption {
    color: var(--222222);
}

.optionIcon {
    font-size: 1.5rem;
}

.optionIcon:first-child {
    padding: 0.75rem 1.5rem;
    border-right: 1px solid black;
}

.optionIcon:last-child {
    padding: 0.75rem 1.5rem;
    border-left: 1px solid black;
}

.productNamePrice {
    padding: 2rem 0;
}

.productName {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: var(--22px);
    font-family: var(--Yantramanav);
    color: var(--1B1A1A);
}

.priceDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
}

.originalPrice {
    text-decoration: line-through;
    /* font-weight: 200; */
    color: var(--9B9B9B);
}

.productPrice {
    font-size: var(--17px);
    white-space: pre;
    font-family: var(--Yantramanav);
}

.viewButton {
    background: transparent;
    border: 1px solid var(--222222);
    padding: 1.5rem;
    width: fit-content;
    margin-top: 1.5rem;
}

#productButtonText {
    color: var(--222222);
}

#collectionSection {
    padding: 0 0.5rem 3rem 0.5rem;
}

.mainCollection {
    border: 1px solid black;
    height: 40rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding-bottom: 3.5rem;
}

.collectionMain {
    height: 50%;
    width: fit-content;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.collectionTopic {
    font-size: var(--35px);
    font-family: var(--Cormorant);
    text-transform: capitalize;
}

.collectionLink {
    color: black;
    text-decoration: none;
}

#latestSection {
    padding: 0 0.5rem 5rem 0.5rem;
    border-bottom: 1px solid #F3F2ED;
    text-align: center;
}

#navLatest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #F3F2ED;
    margin-bottom: 3rem;
}

.latestItem {
    list-style: none;
    padding-bottom: 0.75rem;
    font-size: var(--17px);
    font-family: var(--Yantramanav);
    border-bottom: 1px solid black;
    color: var(--222222);
}

#latestButtonText {
    color: var(--222222);
}

#pageArticle {
    text-align: center;
    padding: 7.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

#articleText {
    font-size: var(--36px);
    font-family: var(--Cormorant);
    color: var(--1B1A1A);
    margin-bottom: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#articleAuthor {
    font-size: var(--15px);
    color: var(--1B1A1A);
    font-style: normal;
    font-family: var(--Yantramanav);
}

.imageDiv {
    padding: 1.5rem;
    background-color: #F3F2ED;
}

.displayImage {
    height: 40rem;
    width: 100%;
}

.mainDisplay {
    padding: 1.5rem 1.5rem 6rem 1.5rem;
}

.displayTopic {
    color: var(--222222);
}

.displayHead {
    font-family: var(--Cormorant);
    font-size: var(--40px);
    color: var(--1B1A1A);
    margin: 0.75rem 0;
    /* font-weight: 400; */
}

.displayParagraph {
    font-size: var(--17px);
    margin-bottom: 2rem;
    color: var(--282828);
    font-family: var(--Yantramanav);
}

.displayButton {
    padding: 1.6rem 1.5rem;
    border: none;
    font-size: var(--17px);
    background-color: var(--222222);
    font-family: var(--Yantramanav);
    color: white;
}

#videoDiv {
    padding: 0 0.5rem;
    position: relative;
}

#videoMain {
    height: 17.5rem;
    width: 100%;
    border: 1px solid black;
    background-clip: border-box;
}

#videoAside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #F3F2ED;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoPlayer {
    color: white;
    font-size: 4rem;
}

#videoPlay {
    color: white;
}

#serviceSection {
    padding: 3.5rem 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 3.5rem 0;
    border-bottom: 1px solid #F3F2ED;
}

.serviceDiv {
    text-align: center;
}

.serviceIcon {
    width: 4rem;
    height: 4rem;
}

.serviceHead {
    font-size: var(--22px);
    margin: 0.75rem 0;
    color: var(--1B1A1A);
    font-family: var(--Yantramanav);
    font-weight: 500;
}

.serviceParagraph  {
    font-size: var(--15px);
    color: var(--282828);
    font-family: var(--Yantramanav);
}

#postSection {
    border-bottom: 1px solid black;
}

#postHeadDiv {
    text-align: center;
    padding: 2.5rem 4rem 3.5rem 4rem;
}

#postParagraph {
    color: var(--282828)
}

#postHead {
    font-size: var(--35px);
    margin-top: 1rem;
    font-family: var(--Yantramanav);
    color: var(--1B1A1A);
}

.mainPostDiv {
    padding: 0 1rem 3.5rem 1rem;
}

.postImage {
    height: 40rem;
    width: 100%;
}

.postDate {
    margin: 1rem 0;
    color: var(--222222);
}

.postHead {
    font-size: var(--30px);
    font-family: var(--Cormorant);
    color: var(--222222);
    /* font-weight: 500; */
}

.postParagraph {
    margin: 1.25rem 0;
    font-size: var(--17px);
    font-family: var(--Yantramanav);
    color: var(--282828);
}

.postRead {
    display: block;
    font-size: var(--15px);
    color: var(--222222);
    font-family: var(--Yantramanav);
}

#newsSection {
    padding: 4rem 0.5rem;
    border-bottom: 1px solid black;
}

#contactDiv {
    padding: 1rem 1.5rem;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3rem;
}

.contactMain {
    text-align: center;
}

.contactHead {
    font-family: var(--Yantramanav);
    color: var(--1B1A1A);
    /* font-weight: 500; */
    font-size: var(--22px);
}

.contactParagraph {
    font-size: var(--15px);
    font-family: var(--Yantramanav);
    color: var(--222222);
}

#subscribeDiv {
    padding: 0 0.5rem;
    text-align: center;
    box-shadow: 2px 0 1px rgb(247, 247, 247), -2px 0 1px rgb(247, 247, 247);
}

#subscribeHead {
    font-size: var(--30px);
    margin: 0 4rem;
    /* font-weight: 500; */
    font-family: var(--Cormorant);
    color: var(--1B1A1A);
}

#subscribeForm {
    border: 1px solid var(--222222);
    display: grid;
    grid-template-columns: 65% 35%;
    margin: 1.5rem 0;
}

#subscribeInput {
    border: none;
    padding: 1.5rem;
    color: var(--222222);
    font-size: var(--15px);
    font-family: var(--Yantramanav);
}

#subscribeButton {
    padding: 1.5rem 1.25rem;
    font-size: var(--15px);
    font-family: var(--Yantramanav);
    border: none;
    background-color: var(--222222);
    color: white;
}

#subscribeParagraph {
    margin-bottom: 3rem;
    font-family: var(--Yantramanav);
    font-size: var(--14px);
    color: var(--616161);
}

#newsAside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1.5rem;
}

.newsHandle {
    height: 1.5rem;
    width: 1.5rem;
}

#footer {
    background-color: black;
    color: white;
}

#storeSection {
    padding: 4.5rem 1.5rem;
    border-bottom: 1px solid var(--9B9B9B);
}

#storeHead {
    font-size: var(--22px);
    margin-bottom: 2.5rem;
    font-family: var(--Cormorant);
    font-weight: 500;
}

#storeParagraph {
    font-size: var(--17px);
    font-family: var(--Yantramanav);
}

#payAside {
    margin: 2.75rem 0 1.5rem 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.payImage {
    width: 3.25rem;
    height: 2rem;
}

#linksDiv {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
}

.linkHead {
    margin-bottom: 2rem;
    font-size: var(--22px);
    font-family: var(--Cormorant);
    /* font-weight: 500; */
}

.linkNav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
}

.linkText {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: var(--15px);
    font-family: var(--Yantramanav);
}

#lastPage {
    padding: 3rem 4rem;
    text-align: center;
}

#curencyLangDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    margin-bottom: 2rem;
}

#copyText {
    font-size: var(--15px);
    font-family: var(--Yantramanav);
}