/* Styling for the cart page */
:root {
  --16px: 1rem;
  --222222: #222222;
  --9B9B9B: #9B9B9B;
  --Yantramanav: 'Yantramanav', sans-serif;
}

#cartSection::-webkit-scrollbar {
  display: none;
}

.whiteBackSections {
  background-color: #FFFFFF;
  height: 100vh;
  position: fixed;
  width: 100%;
}

#cartProductInnerDiv {
  display: flex;
  flex-direction: column;
}

.cartRemove {
  position: absolute;
  right: 0;
  color: var(--222222);
}

.cartProductMain {
  display: flex;
  position: relative;
}

.cartDetailsSection {
  display: flex;
  flex-direction: column;
}

.cartProductText {
  font-family: var(--Yantramanav);
  color: var(--222222);
}

.cartProductName {
  text-transform: capitalize;
}

.productNameText {
  text-decoration: none;
  color: var(--222222);
  font-family: var(--Yantramanav);
}

.cartDefaultText {
  font-family: var(--Yantramanav);
  color: var(--222222);
}

#cartProductDiv {
  display: flex;
  flex-direction: column;
}

#cartProductInnerDiv {
  flex: 1;
}

#cartTotalPriceMain {
  border-top: 1px solid var(--9B9B9B);
}

#totalPriceDiv {
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  font-family: var(--Yantramanav);
  color: var(--222222);
}

#cartButtonsDiv {
  display: flex;
  flex-direction: column;
}

.cartButtons {
  text-align: center;
}

#checkoutButton {
  background: transparent;
  border: 1px solid var(--222222);
  color: var(--222222);
}








.cartQuantityDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cartUpdateBtn {
  background-color: var(--222222);
  color: #FFFFFF;
  font-family: var(--Roboto);
  margin: 2rem 0;
}

#cartTotalText {
  font-family: var(-Cormorant);
  color: var(--1B1A1A);
}

.cartPriceValueDiv {
  display: flex;
  border-bottom: 1px solid var(--F3F2ED);
  padding: 2rem 0;
}

.cartPriceText {
  color: var(--222222);
  font-family: var(--Roboto);
}

#cartShippingAddressDiv {
  border-bottom: 1px solid var(--F3F2ED);
  padding: 2rem 0;
}

#cartShippingDiv {
  display: flex;
}

#cartShippingText {
  font-family: var(--Roboto);
  color: var(--282828);
}

#cartShippingSpan {
  font-weight: 600;
  text-transform: uppercase;
}

#cartAddressText {
  cursor: pointer;
  color: var(--222222);
  font-family: var(--Roboto);
}

#cartAddressDiv {
  display: flex;
  flex-direction: column;
}

.cartAddressInputs {
  border: 1px solid var(--222222);
}

.cartAddressBtn {
  width: fit-content;
  color: #FFFFFF;
  background-color: var(--222222);
}

.cartTotalValue {
  font-weight: 600;
}

#cartCheckoutButton {
  background-color: var(--222222);
  color: #FFFFFF;
  font-family: var(--Roboto);
}









#checkoutLoginDiv {
  border: 1px solid var(--F3F2ED);
  display: flex;
}

.checkoutLoginTexts {
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
}

.checkoutLoginTexts:nth-child(2) {
  color: var(--222222);
}

.billOrderText {
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
}

.billForm {
  display: flex;
  flex-direction: column;
}

.billLabelInputDiv {
  display: flex;
  flex-direction: column;
}

.billLabel {
  font-family: var(--Roboto);
  color: var(--1B1A1A);
}

.billInput {
  padding: 1.5rem;
  border: 1px solid var(--222222);
  color: var(--222222);
  font-family: var(--Roboto);
}

#billOtherMain {
  gap: 0 0.75rem;
  display: flex;
  align-items: center;
}

#billOtherCheckbox {
  accent-color: var(--222222);
}

#billOtherText {
  font-family: var(--Cormorant);
  color: var(--222222);
}

#billOptTextDiv {
  display: flex;
  flex-direction: column;
}

#billOptText {
  font-family: var(--Roboto);
  color: var(--1B1A1A);
}

#billOptTextArea {
  border: 1px solid var(--222222);
  font-family: var(--Roboto);
  color: var(--222222);
}

#orderOptionDiv {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--F3F2ED);
}

.orderOptionText {
  color: var(--1B1A1A);
  font-family: var(--Roboto);
}

#orderProductMain {
  display: flex;
  flex-direction: column;
}

.orderProductPriceDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--F3F2ED);
}

.orderProductNameAmt {
  text-transform: capitalize;
  color: var(--1B1A1A);
  font-family: var(--Roboto);
}

.orderPriceValue {
  font-family: var(--Roboto);
  color: var(--282828);
}

.orderSubTotalDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--F3F2ED);
}

.orderSubTotalText {
  font-family: var(--Roboto);
  color: var(--222222);
}

.orderSubTotalValue {
  font-family: var(--Roboto);
  color: var(--282828);
}

#orderPaymentDiv {
  display: flex;
  flex-direction: column;
}

.paymentButtonText {
  display: flex;
  align-items: center;
}

.paymentButton {
  accent-color: var(--222222);
}

.paymentText {
  font-family: var(--Roboto);
  color: var(--1B1A1A);
}

.paymentMethodDetails {
  background-color: var(--F3F2ED);
  color: var(--282828);
  font-family: var(--Roboto);
}

#personalInfoText {
  color: var(--282828);
  font-family: var(--Roboto);
}

#termsDiv {
  display: flex;
  align-items: center;
}

#termsCheckbox {
  accent-color: var(--222222);
}

#termsText {
  color: var(--1B1A1A);
  font-family: var(--Roboto);
}

#placeOrderBtn {
  background-color: var(--222222);
  color: #FFFFFF;
  font-family: var(--Roboto);
  width: 100%;
}









@media all and (max-width: 1023px) {
  #productCartTopicsDiv {
    display: none;
  }

  .cartPriceValueDiv {
    justify-content: space-between;
  }

  #cartShippingDiv {
    justify-content: space-between;
  }
}








/* Styling for tab and desktop */
@media all and (min-width: 768px) {
  #cartSection {
    right: 0;
  }

  #cartProductDiv {
    margin-top: 8.5rem;
  }

  .cartRemove {
    font-size: var(--16px);
  }

  .cartProductMain {
    gap: 0 2rem;
  }

  .cartDetailsSection {
    gap: 0.35rem 0;
  }

  .cartProductText {
    font-size: var(--16px);
  }

  .cartDefaultText {
    font-size: var(--16px);
  }

  #cartTotalPriceMain {
    padding-bottom: 4.5rem;
  }

  #totalPriceDiv {
    margin: 2rem 0;
  }

  .totalPrice {
    font-size: var(--16px);
  }

  #cartButtonsDiv {
    gap: 1rem 0;
  }

  .cartButtons {
    padding: 1.75rem 0;
  }

  #cartFooter {
    padding: 1.75rem 0;
  }

  #cartUpdateBtnDiv {
    display: flex;
    justify-content: flex-end;
  }

  #cartUpdateBtn {
    font-size: var(--16px);
    padding: 1.25rem 2.5rem;
  }

  #cartTotalText {
    margin: 2rem 0;
  }

  #cartAddressText {
    font-size: var(--16px);
  }

  #cartCheckoutButton {
    padding: 1.25rem 2.5rem;
    font-size: var(--16px);
    margin: 2rem 0 5rem 0;
  }

  #cartAddressDiv {
    gap: 1.5rem 0;
  }

  .cartAddressInputs {
    padding: 1.5rem;
    font-size: var(--16px);
  }

  .cartAddressBtn {
    padding: 1.25rem 2.5rem;
    font-size: var(--16px);
  }

  #checkoutLoginDiv {
    justify-content: space-between;
  }

  .checkoutLoginTexts {
    font-size: var(--16px);
  }

  #billOrderSection {
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .billOrderText {
    margin-bottom: 1.75rem;
  }

  .billForm {
    gap: 1.75rem 0;
  }

  .billLabel {
    font-size: var(--16px);
  }

  .billInput {
    font-size: var(--16px);
  }

  #billOtherMain {
    margin-bottom: 1.75rem;
  }

  #billOtherText {
    font-size: var(--16px);
  }

  #billOptText {
    font-size: var(--16px);
  }

  #billOptTextArea {
    padding: 1.5rem;
    font-size: var(--16px);
  }

  #orderOptionDiv {
    padding: 1rem 0;
  }

  .orderOptionText {
    font-size: var(--16px);
  }

  .orderProductPriceDiv {
    padding: 2rem 0;
  }

  .orderProductNameAmt {
    font-size: var(--16px);
  }

  .orderPriceValue {
    font-size: var(--16px);
  }

  .orderSubTotalDiv {
    padding: 2.5rem 0;
  }

  .orderSubTotalText {
    font-size: var(--16px);
  }

  .orderSubTotalValue {
    font-size: var(--16px);
  }

  .paymentButtonText {
    gap: 0 1rem;
    margin-bottom: 1rem;
  }

  .paymentText {
    font-size: var(--16px);
  }

  .paymentMethodDetails {
    font-size: var(--16px);
  }

  #personalInfoText {
    margin-bottom: 1.5rem;
    font-size: var(--16px);
  }

  #termsDiv {
    margin: 1.5rem 0;
  }

  #termsText {
    font-size: var(--16px);
  }

  #placeOrderBtn {
    font-size: var(--16px);
  }

  #placeOrderBtn {
    padding: 1.25rem 0;
  }
}





/* Styling for mobile alone */
@media all and (max-width: 767px) {
  :root {
    --12px: 0.75rem;
  }

  #cartHeader {
    padding: 1.25rem 1.25rem 1.25rem 2.35rem;
  }

  #cartProductDiv {
    margin-top: 6rem;
    padding: 0 1.5rem 0 1.5rem;
  }

  #cartProductInnerDiv {
    gap: 1.5rem 0;
    padding-bottom: 1.5rem;
  }

  .cartRemove {
    font-size: var(--12px);
  }

  .cartProductMain {
    gap: 0 1.5rem;
  }

  .cartProductImage {
    height: 6rem;
    width: 4rem;
  }

  .cartDetailsSection {
    gap: 0.25rem 0;
  }

  .cartProductName {
    font-size: var(--16px);
  }

  .cartProductText {
    font-size: var(--12px);
  }

  .cartDefaultText {
    font-size: var(--12px);
  }

  #cartTotalPriceMain {
    padding-bottom: 3.5rem;
  }

  #totalPriceDiv {
    margin: 1.5rem 0;
  }

  .totalPrice {
    font-size: var(--12px);
  }

  #cartButtonsDiv {
    gap: 0.75rem 0;
  }

  .cartButtons {
    padding: 1.25rem 0;
  }

  #cartFooter {
    padding: 1.5rem 0;
  }

  .cartQuantityDiv {
    padding: 0.5rem 0;
  }

  #cartUpdateBtn {
    font-size: var(--12px);
    width: 100%;
    padding: 0.75rem 0;
  }

  #cartTotalText {
    margin: 1rem 0;
    font-size: var(--16px);
  }

  .cartPriceText {
    font-size: var(--16px);
  }

  #cartShippingText {
    font-size: var(--16px);
  }

  #cartAddressText {
    font-size: var(--12px);
  }

  #cartAddressDiv {
    margin: 0.5rem 0;
    gap: 0.75rem 0;
  }

  .cartAddressInputs {
    padding: 1rem;
    font-size: var(--12px);
  }

  .cartAddressBtn {
    padding: 0.75rem 1.25rem;
    font-size: var(--12px);
  }

  #cartCheckoutButton {
    padding: 0.75rem 1.25rem;
    font-size: var(--12px);
    margin: 2rem 0 4rem 0;
  }

  #checkoutMain {
    margin-top: 3rem;
  }

  #checkoutLoginDiv {
    padding: 2rem;
    flex-direction: column;
    gap: 1rem 0;
  }

  .checkoutLoginTexts {
    font-size: var(--12px);
  }

  .billOrderDiv {
    margin: 2rem 0;
  }

  .billOrderText {
    margin-bottom: 1.5rem;
    font-size: var(--16px);
  }

  .billForm {
    gap: 1.25rem 0;
  }

  .billLabelInputDiv {
    gap: 0.25rem 0;
  }

  .billLabel {
    font-size: var(--12px);
  }

  .billInput {
    font-size: var(--12px);
  }

  #billOtherAddresssDiv {
    margin: 1.5rem 0;
  }

  #billOtherMain {
    margin-bottom: 1.5rem;
  }

  #billOtherText {
    font-size: var(--12px);
  }

  #billOptTextDiv {
    gap: 0.25rem 0;
  }

  #billOptText {
    font-size: var(--12px);
  }

  #billOptTextArea {
    font-size: var(--12px);
    padding: 1rem;
  }

  #orderOptionDiv {
    padding: 0.75rem 0;
  }

  .orderOptionText {
    font-size: var(--12px);
  }

  .orderProductPriceDiv {
    padding: 1rem 0;
  }

  .orderProductNameAmt {
    font-size: var(--12px);
  }

  .orderPriceValue {
    font-size: var(--12px);
  }

  .orderSubTotalDiv {
    padding: 1.5rem 0;
  }

  .orderSubTotalText {
    font-size: var(--12px);
  }

  .orderSubTotalValue {
    font-size: var(--12px);
  }

  #orderPaymentDiv {
    gap: 1rem 0;
    padding: 1rem 0;
  }

  .paymentButtonText {
    gap: 0 0.75rem;
    margin-bottom: 0.75rem;
  }

  .paymentText {
    font-size: var(--12px);
  }

  .paymentMethodDetails {
    padding: 1rem;
    font-size: var(--12px);
  }

  #personalInfoText {
    margin-bottom: 1rem;
    font-size: var(--12px);
  }

  #termsDiv {
    margin: 1rem 0;
    gap: 0 0.75rem;
  }

  #termsText {
    font-size: var(--12px);
  }

  #placeOrderBtn {
    padding: 0.75rem 0;
    font-size: var(--12px);
  }
}





/* Styling for tab alone */
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --24px: 1.5rem;
  }

  #cartSection {
    width: 55%;
  }

  .cartEnds {
    width: 55%;
  }

  #cartHeader {
    padding: 2rem;
  }

  #cartProductDiv {
    padding: 0 2rem 0 2rem;
  }

  #cartProductInnerDiv {
    gap: 2rem 0;
    padding-bottom: 2rem;
  }

  .cartProductImage {
    height: 8rem;
    width: 6rem;
  }

  .cartProductName {
    font-size: var(--24px);
  }

  .cartQuantityDiv {
    padding: 1rem 0;
  }

  #cartTotalText {
    font-size: var(--24px);
  }

  .cartPriceText {
    font-size: var(--24px);
  }

  #cartShippingText {
    font-size: var(--24px);
  }

  #cartAddressDiv {
    margin: 0.75rem 0;
  }

  #checkoutMain {
    margin-top: 4rem;
  }

  #checkoutLoginDiv {
    padding: 2.5rem;
  }

  #billOrderSection {
    gap: 0 2rem;
  }

  .billOrderText {
    font-size: var(--24px);
  }

  .billLabelInputDiv {
    gap: 0.5rem 0;
  }

  #billOtherAddresssDiv {
    margin: 1.75rem 0;
  }

  #billOptTextDiv {
    gap: 0.5rem 0;
  }

  #orderPaymentDiv {
    gap: 1.5rem 0;
    padding: 2rem 0;
  }

  .paymentMethodDetails {
    padding: 1.5rem 1rem;
  }

  #termsDiv {
    gap: 0 1rem;
  }
}





/* Styling for desktop alone */
@media all and (min-width: 1024px) {
  :root {
    --20px: 1.25rem;
  }

  #cartSection {
    width: 30%;
    right: 0;
  }

  .cartEnds {
    width: 30%;
  }

  #cartHeader {
    padding: 2.5rem 2.5rem 2.5rem 3rem;
  }

  #cartProductDiv {
    padding: 0 2.5rem 0 3rem;
  }

  #cartProductInnerDiv {
    gap: 2.5rem 0;
    padding-bottom: 2.5rem;
  }

  .cartProductImage {
    height: 8.75rem;
    width: 6.75rem;
  }

  .cartProductName {
    font-size: var(--20px);
  }

  #productCartTopicsDiv {
    display: flex;
    justify-content: space-between;
    margin-left: 12.5%;
    padding-bottom: 0.75rem;
  }

  .cartPriceValueDiv {
    gap: 0 20%;
  }

  #cartTotalText {
    font-size: var(--20px);
  }

  .cartPriceText {
    font-size: var(--20px);
  }

  #cartShippingDiv {
    gap: 0 13.5%;
  }

  #cartShippingText {
    font-size: var(--20px);
  }

  #cartAddressDiv {
    margin: 0.75rem 0 0.75rem 23.5%;
  }

  #checkoutMain {
    margin-top: 6rem;
  }

  #checkoutLoginDiv {
    padding: 2rem;
  }

  #billOrderSection {
    gap: 0 3rem;
  }

  .billOrderText {
    font-size: var(--20px);
  }

  .billLabelInputDiv {
    gap: 0.25rem 0;
  }

  #billOtherAddresssDiv {
    margin: 2rem 0;
  }

  #billOptTextDiv {
    gap: 0.25rem 0;
  }

  #orderOptionDiv {
    padding-right: 5rem;
  }

  .orderProductPriceDiv {
    padding-right: 5rem;
  }

  .orderSubTotalDiv {
    padding-right: 5rem;
  }

  #orderPaymentDiv {
    gap: 1rem 0;
    padding: 2.5rem 0;
  }

  .paymentMethodDetails {
    padding: 1rem;
  }

  #termsDiv {
    gap: 0 0.5rem;
  }
}