#productSortTextIconDiv {
  border: 1px solid var(--222222);
}





@media all and (min-width: 768px) {
  #productSortTextIconDiv {
    gap: 0 5rem;
    padding: 0.5rem;
  }
}





@media all and (max-width: 767px) {
  #productSortTextIconDiv {
    gap: 0 2.5rem;
    padding: 0.25rem;
  }
}