/* Styling for the register page */
:root {
  --16px: 1rem;
  --1B1A1A: #1B1A1A;
  --222222: #222222;
  --Yantramanav: 'Yantramanav', sans-serif;
  --Cormorant: 'Cormorant Infant', sans-serif;
}

.navSections {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1B1A1AB3;
  z-index: 100;
}

.mainNav {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}

.cancelBtn {
  position: relative;
  left: 100%;
}

.cancelIcon {
  color: var(--1B1A1A);
}

.registerHead {
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
}

.registerInput {
  color: var(--222222);
  font-family: var(--Yantramanav);
  outline: none;
  border: 1px solid black;
  width: 100%;
  padding: 1.5rem;
}

#registerParagraph {
  font-family: var(--Yantramanav);
  color: var(--1B1A1A);
}

#registerCheck {
  vertical-align: middle;
  accent-color: #222222;
}

#forgotBtn {
  color: var(--222222);
}

.navBtn {
  background-color: var(--222222);
  color: white;
  width: 100%;
  font-family: var(--Yantramanav);
  outline: none;
  text-decoration: none;
}

.registerBtn {
  padding: 1.25rem 0;
  cursor: pointer;
}

.registerNavText {
  text-align: center;
  font-family: var(--Yantramanav);
  color: var(--222222);
}

#register-message {
  background-color: var(--FFFF00);
  font-family: var(--Roboto);
  color: var(--222222);
  text-align: center;
}






/* Styling for both Tab and desktop */
@media all and (min-width: 768px) {
  :root {
    --24px: 1.5rem;
  }

  .registerHead {
    margin-bottom: 1.5rem;
  }

  .registerInput {
    font-size: var(--16px);
  }

  .registerInput:nth-child(1) {
    margin-bottom: 1.5rem;
  }
  
  .registerInput:nth-child(2) {
    margin-bottom: 1.5rem;
  }
  
  #registerParagraph {
    font-size: var(--16px);
    margin-bottom: 1.5rem;
  }

  #registerCheck {
    margin-right: 0.75rem;
  }

  #forgotBtn {
    margin-left: 0.75rem;
  }

  .navBtn {
    font-size: var(--16px);
  }

  .registerBtn {
    margin-bottom: 1.5rem;
  }
  
  .registerNavText {
    font-size: var(--16px);
  }

  #register-message {
    padding: 0.75rem 0;
    margin-bottom: 0.75rem;
    font-size: var(--16px);
  }
}





/* Styling for mobile alone */
@media all and (max-width: 767px) {
  :root {
    --20px: 1.25rem;
    --12px: 0.75rem;
  }

  .mainRegister {
    width: 80%;
    padding: 1.5rem;
  }

  .cancelIcon {
    font-size: var(--16px);
  }

  .registerHead {
    font-size: var(--20px);
    margin-bottom: 1rem;
  }

  .registerInput {
    font-size: var(--12px);
  }

  .registerInput:nth-child(1) {
    margin-bottom: 1rem;
  }
  
  .registerInput:nth-child(2) {
    margin-bottom: 1rem;
  }
  
  #registerParagraph {
    font-size: var(--12px);
    margin-bottom: 1rem;
  }

  #registerCheck {
    margin-right: 0.5rem;
  }

  #forgotBtn {
    margin-left: 0.5rem;
  }

  .navBtn {
    font-size: var(--12px);
  }

  .registerBtn {
    margin-bottom: 1rem;
  }
  
  .registerNavText {
    font-size: var(--12px);
  }

  #register-message {
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
    font-size: var(--12px);
  }
}





/* Styling for tab alone */
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --32px: 2rem;
  }

  .mainRegister {
    width: 40%;
    padding: 2.5rem;
  }

  .cancelIcon {
    font-size: var(--24px);
  }

  .registerHead {
    font-size: var(--32px);
  }
}





/* Styling for desktop alone */
@media all and (min-width: 1024px) {
  :root {
    --20px: 1.25rem;
  }

  .mainRegister {
    width: 26.5%;
    padding: 4rem;
  }

  .cancelIcon {
    font-size: var(--20px);
  }

  .registerHead {
    font-size: var(--24px);
  }
}