/* Styling for the wishlist page */
:root {
  --16px: 1rem;
  --222222: #222222;
  --9B9B9B: #9B9B9B;
  --282828: #282828;
  --Yantramanav: 'Yantramanav', sans-serif;
}

#wishListMain {
  background-color: white;
  height: fit-content;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#wishListMain::-webkit-scrollbar {
  width: 2px;
}

#wishListMain::-webkit-scrollbar-track {
  background-color: white;
}

#wishListMain::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--9B9B9B);
}

.wishListContainers {
  position: sticky;
  width: 100%;
}

#wishListHeader {
  top: 0;
}

.wishlistInnerContainers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wishlistHeaderDiv {
  background-color: var(--282828);
}

#wishListText {
  font-weight: bold;
  font-family: var(--Yantramanav);
  color: white;
}

#wishListCanIcon {
  color: var(--9B9B9B);
}

#wishlistInfoText {
  color: white;
  font-family: var(--Yantramanav);
  text-align: center;
}

.wishListDiv {
  display: grid;
  grid-template-columns: 10% 20% 30% 40%;
  align-items: center;
  border-bottom: 0.5px solid var(--9B9B9B);
}

.wishListDiv:last-child {
  border-bottom: none;
}

.delWishListIcon {
  color: var(--222222);
}

.wishListDetails {
  word-break: keep-all;
}

.wishListPrice {
  margin: 0.25rem 0;
}

.wishListAvailMain {
  border-bottom: 1px solid var(--9B9B9B);
}

.wishListAvailBar {
  background-color: green;
}

.defaultText {
  font-family: var(--Yantramanav);
  color: var(--222222);
}

#wishListDefaultText {
  text-align: center;
}

#wishListLinkDiv {
  bottom: 0;
  background-color: white;
}

.wishListLinks {
  color: var(--222222);
  font-family: var(--Yantramanav);
}

.wishListTexts {
  font-family: var(--Yantramanav);
  color: var(--222222);
}








.wishlistCartDiv {
  border-bottom: 1px solid var(--F3F2ED);
}

.wishlistCartDiv:first-child {
  border-top: 1px solid var(--F3F2ED);
}

.wishlistCartImageNameDiv {
  display: flex;
}

.wishlistCartName {
  color: var(--222222);
  font-family: var(--Roboto);
}

.wishlistDate {
  color: var(--282828);
  font-family: var(--Roboto);
}

.wishlistCartPriceText {
  color: var(--222222);
  font-family: var(--Roboto);
}

.wishlistCartPriceValue {
  color: var(--282828);
  font-family: var(--Roboto);
}

.wishlistStatusText {
  font-family: var(--Roboto);
  color: var(--222222);
}

.wishlistStatus {
  color: var(--282828);
  font-family: var(--Roboto);
}

.wishlistToCartBtn {
  background-color: var(--222222);
  color: #FFFFFF;
  font-family: var(--Roboto);
  border: none;
}

#wishlistHandleShare {
  display: flex;
}

.wishlistHandleDiv {
  display: flex;
  align-items: center;
}

.wishlistHandleText {
  color: var(--222222);
  font-family: var(--Roboto);
}








@media all and (max-width: 1023px) {
  #productWishlistTopicsDiv {
    display: none;
  }

  .wishlistCartIconImageTextDiv {
    position: relative;
  }
  
  .wishlistCartDeleteIcon {
    position: absolute;
  }

  .wishlistCartPriceValueDiv {
    display: flex;
    justify-content: space-between;
  }
  
  .wishlistStatusDiv {
    display: flex;
    justify-content: space-between;
  }
  
  .wishlistToCartDiv {
    display: flex;
    justify-content: flex-end;
  }
}










/* Styling for tab and desktop */
@media all and (min-width: 768px) {
  #wishListMain {
    left: 0;
    right: 0;
  }

  .wishListContainers {
    font-size: var(--16px);
  }

  .wishlistInnerContainers {
    padding: 1.25rem 1.5rem;
  }

  #wishlistInfoText {
    padding: 0.5rem 0;
  }

  #wishListItemSection {
    padding: 1.5rem;
  }

  .delWishListIcon {
    font-size: var(--16px);
  }

  .wishListImage {
    height: 8rem;
  }

  .wishListTexts {
    font-size: var(--16px);
  }

  .wishListAvailMain {
    margin: 0 1rem 2rem 0;
  }

  .wishListAvailBar {
    padding: 0.20rem;
    margin: 1rem 0 2rem 0;
  }

  .defaultText {
    font-size: var(--16px);
  }

  .wishlistCartDeleteIcon {
    font-size: var(--16px);
  }

  .wishlistCartImageNameDiv {
    gap: 0 1.5rem;
  }

  .wishlistCartMainImage {
    height: 7rem;
    width: 5rem;
  }

  .wishlistCartName {
    font-size: var(--16px);
  }

  .wishlistDate {
    font-size: var(--12px);
  }

  .wishlistCartPriceValue {
    font-size: var(--12px);
  }

  .wishlistStatus {
    font-size: var(--12px);
  }

  .wishlistToCartBtn {
    font-size: var(--16px);
    padding: 1.25rem 2.5rem;
  }

  #wishlistHandleShare {
    gap: 0 3rem;
    padding: 2rem 0;
  }

  .wishlistHandleDiv {
    gap: 0 0.75rem;
  }

  .wislistHandleShareImg {
    width: 1.75rem;
    height: 1.75rem;
  }

  .wishlistHandleText {
    font-size: var(--16px);
  }
}





/* Styling for mobile alone */
@media all and (max-width: 767px) {
  :root {
    --12px: 0.75rem;
    --16px: 1rem;
  }

  #wishListMain {
    width: 100%;
  }

  .wishListContainers {
    font-size: var(--12px);
  }

  .wishlistInnerContainers {
    padding: 1rem;
  }

  #wishListCanIcon {
    font-size: var(--16px);
  }

  #wishlistInfoText {
    padding: 0.25rem 0;
  }

  #wishListItemSection {
    padding: 1rem;
  }

  .wishListDiv {
    grid-gap: 0.25rem;
    padding: 0.75rem 0;
  }

  .delWishListIcon {
    font-size: var(--12px);
  }

  .wishListImage {
    height: 6rem;
    width: 4rem;
  }

  .wishListTexts {
    font-size: var(--12px);
  }

  .wishListAvailMain {
    margin: 0 1rem 1.5rem 0;
  }

  .wishListAvailBar {
    padding: 0.15rem;
    margin: 0.75rem 0 1.5rem 0;
  }

  .defaultText {
    font-size: var(--12px);
  }

  .productWishlistCartMain {
    margin-top: 1.5rem;
  }

  .wishlistCartDiv {
    padding: 0.75rem 0;
  }

  .wishlistCartDeleteIcon {
    left: 0.25rem; 
    top: 0.15rem;
    font-size: var(--12px);
  }

  .wishlistCartImageNameDiv {
    gap: 0 1rem;
  }

  .wishlistCartMainImage {
    height: 4rem;
    width: 3rem;
  }

  .wishlistCartName {
    font-size: var(--12px);
  }

  .wishlistDate {
    font-size: var(--8px);
  }

  .wishlistCartPriceValueDiv {
    padding: 0.5rem 0;
  }

  .wishlistCartPriceText {
    font-size: var(--12px);
  }

  .wishlistCartPriceValue {
    font-size: var(--8px);
  }

  .wishlistStatusDiv {
    padding: 0.5rem 0;
  }

  .wishlistStatusText {
    font-size: var(--12px);
  }

  .wishlistStatus {
    font-size: var(--8px);
  }

  .wishlistToCartBtn {
    font-size: var(--12px);
    padding: 0.75rem 1.25rem;
  }

  #wishlistHandleShare {
    gap: 0 2rem;
    padding: 1rem 0;
  }

  .wishlistHandleDiv {
    gap: 0 0.5rem;
  }

  .wislistHandleShareImg {
    width: 1.25rem;
    height: 1.25rem;
  }

  .wishlistHandleText {
    font-size: var(--12px);
  }
}





/* Styling for tab alone */
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --24px: 1.5rem;
  }

  #wishListMain {
    width: 60%;
  }

  #wishListCanIcon {
    font-size: var(--24px);
  }

  .wishListDiv {
    grid-gap: 0.25rem;
    padding: 1rem 0;
  }

  .wishListImage {
    width: 6rem;
  }

  .productWishlistCartMain {
    margin-top: 2rem;
  }

  .wishlistCartDiv {
    padding: 1rem 0;
  }

  .wishlistCartDeleteIcon {
    left: 0.5rem;
    top: 0.5rem;
  }

  .wishlistCartPriceValueDiv {
    padding: 1rem 0;
  }

  .wishlistCartPriceText {
    font-size: var(--16px);
  }

  .wishlistStatusDiv {
    padding: 1rem 0;
  }

  .wishlistStatusText {
    font-size: var(--16px);
  }
}





/* Styling for desktop alone */
@media all and (min-width: 1024px) {
  :root {
    --20px: 1.5rem;
  }

  #wishListMain {
    width: 35%;
  }

  #wishListCanIcon {
    font-size: var(--20px);
  }

  .wishListDiv {
    grid-gap: 0.35rem;
    padding: 1.25rem 0;
  }

  .wishListImage {
    width: 6.5rem;
  }

  .productWishlistCartMain {
    margin-top: 4rem;
  }

  #productWishlistTopicsDiv {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-left: 10rem;
    padding-bottom: 0.75rem;
  }

  .wishlistCartTopicTexts {
    font-size: var(--16px);
    font-family: var(--Roboto);
    color: var(--1B1A1A);
  }

  .wishlistCartDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }

  .wishlistCartIconImageTextDiv {
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
  }

  .wishlistCartImageNameDiv {
    align-items: center;
  }

  .wishlistCartPriceText {
    display: none;
  }

  .wishlistStatusText {
    display: none;
  }

  #wishlistHandleShare {
    justify-content: center;
  }
}